.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em;
  /* position: relative; */
}

.button {
  background: linear-gradient(rgba(73, 91, 105, 0.9), rgba(5, 7, 12, 0.9));
  padding: 0.5em;
  border-radius: 1em;
  width: 100%;
  font-size: 100%;
  font-weight: 700;
  box-shadow: 3px 3px 1px black;
  border: none;
  cursor: pointer;
}

.clear {
  background: linear-gradient(rgba(255, 99, 51, 0.9), rgba(5, 7, 12, 0.9));
}

.button-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.3em;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 0.25em;
  background-color: rgba(73, 91, 105, 0.8);
  text-shadow: 2px 2px 1px black;
  border-radius: 1em;
}

.quit{
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 5%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
