.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em;
  }
  
  .button {
    background: linear-gradient(rgba(73, 91, 105, 0.9), rgba(5, 7, 12, 0.9));
    padding: 0.5em;
    border-radius: 1em;
    width: 35%;
    font-size: 100%;
    font-weight: 700;
    box-shadow: 3px 3px 1px black;
    border: none;
    cursor: pointer;
  }
  
  .clear{
    background: linear-gradient(rgba(255, 99, 51, 0.9), rgba(5, 7, 12, 0.9));
  }