.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em;
  /* position: relative; */
}

.button {
  background: linear-gradient(#89b0cd, rgba(5, 7, 12, 0.9));
  padding: 0.5em;
  border-radius: 1em;
  width: 100%;
  font-size: 100%;
  font-weight: 700;
  box-shadow: 3px 3px 1px black;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.clear {
  background: linear-gradient(#e99a27, rgba(5, 7, 12, 0.9));
  transition: 0.3s ease;
}

.button:hover,
.clear:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.button-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2em;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.3em 0.35em;
  background: linear-gradient(#e99a27, rgba(5, 7, 12, 0.9));
  text-shadow: 2px 2px 1px black;
  border-radius: 1em;
  transition: 0.3s ease;
}

.button-modal:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
  background: linear-gradient(#89b0cd, rgba(5, 7, 12, 0.9));
}

.quit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin: .5em;
  color:#e99a27;
}

.quit:hover{
  transform: scale(1.1);
  color: tomato;
}
