:root {
  font-family: "Kiwi Maru", serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

* {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(rgba(5, 7, 12, 0.1), rgba(73, 91, 105, 0.8));
}
