.ul-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
}

.li-container {
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://i.pinimg.com/564x/1b/d9/f5/1bd9f5ecb89ce238d9932d22243cbcf3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1em;
  padding: 1em;
  height: 200px;
  gap: 1em;
}
